/*Color Scheme
*/

/*Global styles
-----------------------------------------------------*/
html
{
  /*set 'box-sizing: border-box' on an element
  padding and border are included in the width and height.
  must include, this makes all content within the box to inherit
  the box sizing inside that element if its sizing is changed
  *, *:before, *:after
  {
    box-sizing: inherit;
  }*/
  box-sizing: border-box;
  font-size: 1.1em;

}
*, *:before, *:after
{
  box-sizing: inherit;
}
/* image maximum width */
img, video
{
  max-width: 100%;
}
/* border around all content */
.header, nav, #about, #knowledge, #projects, #resume, .footer
{
	border: 1px solid black;
	padding: 10px;
}
/* container for page  layout */
.container
{
  /* creates a grid layout */
  display: grid;
  /* creates a 12 column grid layout */
  grid-template-columns: repeat(12, 1fr);
  /* gap between elements in container*/
  grid-gap: 10px;
  margin: 0 auto;
}
nav ul
{
  /* removed bullets from list */
  list-style: none;
  /* removes margins */
  margin: 0;
  /* removes padding */
  padding: 0;
}
/* targets all elements that are a direct child of .container */
.container > *
{
  grid-column: 1 / span 12;
}
/* mediume sized screens */
@media (min-width: 600px)
{
  #knowledge
  {
    /* starts in line 1 and spans 3 lines */
    grid-column: 1 / span 3;
    /* start in row 3 */
    grid-row: 3;
  }
  #resume
  {
    /* starts in line 1 and spans 3 lines */
    grid-column: 1 / span 3;
    /* start in row 4 */
    grid-row: 4;
  }
  #about, #projects
  {
    /* starts in line 4 and spans 9 lines */
    grid-column: 4 / span 9;
  }
  nav ul
  {
    /* puts in one line */
    display: flex;
    /* evenly distributes space between links */
    justify-content: space-between;
  }
}
/* large screen */
@media (min-width: 900px)
{
  #knowledge
  {
    grid-column: 1 / span 2;
  }
  #about, #projects
  {
    grid-column: 3 / span 7;
  }
  #resume
  {
    grid-column: 10 / span 3;
    grid-row: 3;
  }
  #projects
  {
    grid-column: 1 / span 12;
  }
}
.container
{
  max-width: 1200px;
}
